
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Welcome to FTPBook Store</h1>
</div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 2rem; z-index: 0;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 40rem; max-width: 150vw; background-size: cover;">
            <img src="https://m.timesofindia.com/thumb/msid-80131937,width-1200,height-900,resizemode-4/.jpg" class="d-block w-100" style="height: 40rem; max-width: 150vw; background-size: cover; background-position: center center; background-repeat: no-repeat;">
        </div>
        <div class="carousel-item" style="height: 40rem; max-width: 150vw; background-size: cover;">
            <img src="https://youthaspiring.com/wp-content/uploads/2021/09/AdobeStock_324512891-8b38574-1.jpeg" class="d-block w-100" style="height: 40rem; max-width: 150vw; background-size: cover; background-position: center center; background-repeat: no-repeat;">
        </div>
        <div class="carousel-item" style="height: 40rem; max-width: 150vw; background-size: cover;">
            <img src="http://diaoc5sao.vn/wp-content/uploads/2021/11/The-Ukrainian-Book-Institute-Purchases-380.9-Thousand-Books-for-Public-Libraries1.jpeg" class="d-block w-100" style="height: 40rem; max-width: 150vw; background-size: cover; background-position: center center; background-repeat: no-repeat;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
